* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container {
    width: 100%;
    height: 1000px;
    padding: 0 auto;
    
}

.left {
    float: left;
    width: 50%;
    height: 500px;
    position: relative;
    top: 0;
  
}
.right {
    float: right;
    width: 50%;
   
}
.cb {
    clear: both;
}
.logotwitter {
    position: absolute;
    left: 30%;
    top: 40%;
}
.letragrande {
    font-size: 56px;
    font-weight: 700;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
   
}
.unete {
    font-size: 36px;
    font-weight: 700;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}
.rayado {
   
    text-decoration: line-through;
    text-decoration-color: rgb(239, 243, 244);
    color: #ffffff;
    margin: 0 8px;
}
.inline {
    display: inline; 

}
.chiquitita {
    font-size: small;
    color: rgb(83, 100, 113);
}
.hueco {
    height: 50px;
    background-color: aqua;
}
.yatienes {
    font-size: large;
    color: rgb(15, 20, 25);
    font-weight: 650;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}